auto-install-peers = true
@nipacloud:registry=https://registry-hub.nipa.cloud/repository/npm-private
registry=https://registry-hub.nipa.cloud/repository/npm-internal
//registry-hub.nipa.cloud/repository/:_authToken=NpmToken.82413cfa-5221-3f71-94cb-0eefce85415c
